.burgerConstructor {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.confirmButton {
  display: flex;
  align-self: flex-end
}

.total {
  display: flex;
  align-items: center;
}