.burgerIngredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  justify-self: end;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
  max-height: 716px;
  overflow: auto;
}

.menu::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.menu::-webkit-scrollbar-thumb {
  width: 8px;
  height: 80%;
  background-color: #8585AD;
}

.menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.typeName {
  align-self: start;
}

.ingredientsMenu {
  display: grid;
  grid-template-columns: 272px 272px;
  grid-template-rows: repeat(auto-fit, 208px);
  gap: 32px 24px;
  list-style: none;
  padding: 0;
}

.ingredientsMenuItem {

}

