.ingredient {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 208px;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
}

.cost {
  display: flex;
  align-items: center;
}

.name {
  max-height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ingredientsMenuItem {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ingredientsMenuItem:hover {
  cursor: pointer;
}