.burgerConstructor {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.selectedElements {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.lockedElements {
  margin: 0 16px 0 0;
  display: flex;
  justify-content: flex-end;
}


.elements {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 464px;
  overflow: auto;
}

.element {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 8px;
  min-width: 536px;
  margin-right: 8px;
}


.elements::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.elements::-webkit-scrollbar-thumb {
  width: 8px;
  height: 80%;
  background-color: #8585AD;
}


.confirmButton {
  display: flex;
  align-self: flex-end
}

.total {
  display: flex;
  align-items: center;
}