.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 640px;
}

.orderNumber {

}

.ingredient {

}

.info {

}

.image {

}

.price {

}

.total {

}

.footer {
  
}